@use '../vars/vars' as v;

%btn-base {
  display: flex;
  align-items: center;
  justify-content:  center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: 0;
  outline: none;
  transition: transform ease v.$tr;
  cursor:  pointer;

  &:active {
    transform: translateY(2px);
  }
}