@use '../../../scss/vars/vars' as v;
@use '../../../scss/mixins/typography' as t;

.portfolio {
  position: relative;

  .blocks {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    min-width: 1400px;
    min-height: 1400px;
    z-index: -1;

    @media(min-width: v.$md) {
      top: -20%;
    }

    @media(min-width: v.$xl) {
      right: 5%;
      top: 0;
    }
  }

  &Wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &Inner {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 32px;
  }
}

